/**
  button layout
 */

button.button {
  min-height: 36px;
  color: $white-text-color;
  background-color: $primary-bg-color;
  border: 0px;
  @include border-radius();
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px 30px;

  &:hover {
    background-color: $pale-pastel-blue;
  }

}