/***** Success Page */

.checkout-onepage-success {

  .col-main {
    color: $secondary-text-color;
    font-size: 14px;
    font-weight: 600;

    h1, h2.sub-title {
      font-weight: bold;
      font-size: 36px;
      margin: 5px 0px;

    }

    .order-num-section {
      p {
        color: $deep-pastel-blue;
        text-transform: uppercase;
        margin-top: 30px;
        margin-bottom: 80px;
        font-weight: 600;
        font-size: 14px;
      }
    }

    .order-content-section {
      width: 37%;
      margin: 0px auto 20px;

    }
  }
}
