<?xml version="1.0"?>
<config>
  <modules>
    <Growthrocket_Spamprotection>
      <version>0.1.0</version>
    </Growthrocket_Spamprotection>
  </modules>
  <global>
    <helpers>
      <spamprotection>
        <class>Growthrocket_Spamprotection_Helper</class>
      </spamprotection>
    </helpers>
	<models>
	  <spamprotection>
		<class>Growthrocket_Spamprotection_Model</class>
		<resourceModel>spamprotection_mysql4</resourceModel>
	  </spamprotection>
	  <spamprotection_mysql4>
		<class>Growthrocket_Spamprotection_Model_Mysql4</class>
		<entities>
			  <spamprotection>
				<table>gr_spam_log</table>
			  </spamprotection>
        </entities>
	  </spamprotection_mysql4>
	</models>
	<resources>
	  <spamprotection_setup>
		<setup>
		  <module>Growthrocket_Spamprotection</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </spamprotection_setup>
	  <spamprotection_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </spamprotection_write>
	  <spamprotection_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </spamprotection_read>
	</resources>
	<events>
		<!--
	  <controller_front_init_before>
		  <observers>
			  <growthrocket_spamprotection_event>
				  <type>singleton</type>
				  <class>Growthrocket_Spamprotection_Model_Observer</class>
				  <method>validateUser</method>
			  </growthrocket_spamprotection_event>
		  </observers>
	  </controller_front_init_before>
	  -->
		<controller_action_layout_load_before>
			<observers>
				<growthrocket_spamprotection_event>
					<type>singleton</type>
					<class>Growthrocket_Spamprotection_Model_Observer</class>
					<method>validateUser</method>
				</growthrocket_spamprotection_event>
			</observers>
		</controller_action_layout_load_before>
	  <controller_action_layout_load_before>
		  <observers>
			  <controller_action_layout_load_before_handler_spamprotection>
				  <type>singleton</type>
				  <class>Growthrocket_Spamprotection_Model_Observer</class>
				  <method>storeCustomerIps</method>
			  </controller_action_layout_load_before_handler_spamprotection>
		  </observers>
	  </controller_action_layout_load_before>
	</events>
  </global>
	<!--<crontab>
		<jobs>
			<spamprotection_clearspamlogtable>
				<schedule><cron_expr>0 0 * * *</cron_expr></schedule>
				<run><model>spamprotection/cron::clearSpamLogTable</model></run>
			</spamprotection_clearspamlogtable>
		</jobs>
	</crontab>-->
	<default>
		<gr_spam_section>
			<gr_spam_section_group>
				<enable>1</enable>
				<threshold_time>30 minutes</threshold_time>
				<threshold_request>10</threshold_request>
			</gr_spam_section_group>
		</gr_spam_section>
	</default>
</config> 