<?xml version="1.0"?>
<config>
  <modules>
    <Growthrocket_Cmsblog>
      <version>0.1.0</version>
    </Growthrocket_Cmsblog>
  </modules>
	<default>
		<web>
			<routers>
				<cmsblog_router>
					<area>frontend</area>
					<class>Growthrocket_Cmsblog_Controller_Router</class>
				</cmsblog_router>
			</routers>
		</web>
	</default>
  <frontend>
    <routers>
      <cmsblog>
        <use>standard</use>
          <args>
            <module>Growthrocket_Cmsblog</module>
            <frontName>blog</frontName>
          </args>
      </cmsblog>
    </routers>
		<layout>
		  <updates>
			<cmsblog>
			  <file>cmsblog.xml</file>
			</cmsblog>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <cmsblog>
        <class>Growthrocket_Cmsblog_Helper</class>
      </cmsblog>
    </helpers>
	<blocks>
	  <cmsblog>
		<class>Growthrocket_Cmsblog_Block</class>
	  </cmsblog>
	</blocks>
	<models>
	  <cmsblog>
		<class>Growthrocket_Cmsblog_Model</class>
		<resourceModel>cmsblog_mysql4</resourceModel>
	  </cmsblog>
	  <cmsblog_mysql4>
		<class>Growthrocket_Cmsblog_Model_Mysql4</class>
		<entities>		  
			  <cmsblog>
				<table>gr_cms_blog</table>
			  </cmsblog>
        </entities>
	  </cmsblog_mysql4>
	</models>
	<resources>
	  <cmsblog_setup>
		<setup>
		  <module>Growthrocket_Cmsblog</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </cmsblog_setup>
	  <cmsblog_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </cmsblog_write>
	  <cmsblog_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </cmsblog_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <cmsblog>
	    <use>admin</use>
		<args>
		  <module>Growthrocket_Cmsblog</module>
		  <frontName>admin_cmsblog</frontName>
		</args>
	  </cmsblog>
	</routers>
  </admin>
  <adminhtml>
	<menu>
		<cms>
			<children>
				<cmsblog module="cmsblog">
					<title>Manage Blog</title>
					<sort_order>20</sort_order>
					<action>admin_cmsblog/adminhtml_cmsblog</action>
				</cmsblog>
			</children>
		</cms>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
			<cms>
				<children>
					<cmsblog translate="title">
						<title>Manage Blog</title>
						<sort_order>20</sort_order>
					</cmsblog>
				</children>
			</cms>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<cmsblog>
		  <file>cmsblog.xml</file>
		</cmsblog>
	  </updates>
	</layout>
  </adminhtml>
</config> 