<?xml version="1.0"?>
<config>
    <modules>
        <Magecomp_S3Amazon>
            <version>1.0.0</version>
        </Magecomp_S3Amazon>
    </modules>
    <admin>
        <routers>
            <s3amazon>
                <use>admin</use>
                <args>
                    <module>Magecomp_S3Amazon</module>
                    <frontName>s3amazon</frontName>
                </args>
            </s3amazon>
        </routers>
    </admin>
    <global>
        <models>
            <s3amazon>
                <class>Magecomp_S3Amazon_Model</class>
                <resourceModel>s3amazon_mysql4</resourceModel>
            </s3amazon>
            <s3amazon_mysql4>
                <class>Magecomp_S3Amazon_Model_Mysql4</class>
                <entities>
                    <title>
                        <table>downloadable_link_title</table>
                    </title>
                </entities>
            </s3amazon_mysql4>
        </models>        
        <helpers>
            <s3amazon>
                <class>Magecomp_S3Amazon_Helper</class>
            </s3amazon>
        </helpers>
        <blocks>
            <s3amazon>
                <class>Magecomp_S3Amazon_Block</class>
            </s3amazon>
        </blocks>
        <events>
            <catalog_product_save_after>
                <observers>
                    <Magecomp_S3Amazon_Model_Observer>
                        <type>singleton</type>
                        <class>Magecomp_S3Amazon_Model_Observer</class>
                        <method>uploadFiles</method>
                    </Magecomp_S3Amazon_Model_Observer>
                </observers>
            </catalog_product_save_after>
        </events>
        <rewrite>
            <s3amazon_download>
                <from><![CDATA[#^/downloadable/download/#]]></from>
                <to>/s3amazon/download/</to>
            </s3amazon_download>
        </rewrite>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <s3amazon>
                    <file>s3amazon.xml</file>
                </s3amazon>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <s3amazon translate="title" module="s3amazon">
                                            <title>s3amazon</title>
                                        </s3amazon>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>