<?xml version="1.0"?>
<config>
  <modules>
    <Growthrocket_Recommended>
      <version>0.1.0</version>
    </Growthrocket_Recommended>
  </modules>
  <global>
    <helpers>
      <gr_recommended>
        <class>Growthrocket_Recommended_Helper</class>
      </gr_recommended>
    </helpers>
	<blocks>
	  <gr_recommended>
		<class>Growthrocket_Recommended_Block</class>
	  </gr_recommended>
	</blocks>
  </global>
</config> 