
$primary-bg-color: #002F64;

$secondary-bg-color:#EEB709;

$tertiary-bg-color: #F2F2F2;



$primary-blue-color: #0C4484;

$secondary-text-color: #EEB709;

$tertiary-text-color: #828282;

$primary-dark: #191919;

$primary-border-color: #0C4484;

$link-color: #40609F;

$secondary-border-color:#D5A408;

$black-color: #000000;

$white-color: #FFFFFF;

$grey-text-color:#4F4F4F;

$grey-color: #E0E0E0;

$dark-grey: #252525;

$grey-color-6: #F2F2F2;

$grey-color-3: #333333;

$line-color: #E0E0E0;

$pale-grey: #F5F5F5;

$grey-primary: #828282;

$textbox-color: #E5E5E5
