.main-container,.page{
  .breadcrumbs{
    margin-top: 25px;
    margin-bottom: 30px;

    li {
      font-size: 16px;
      a {
        color:$tertiary-text-color;
        text-transform: capitalize;
      }

      span{
        text-transform: capitalize;
      }

      &:last-child{
        text-transform: capitalize;
        font-family: robotobold;

        span,a{
          color: $primary-dark;
        }
      }

      span.breadcrumbs-split{
        font-size: 16px;
        color: $primary-dark;
        margin: 0 5px;
      }

    }
  }
}
