

.header-container.type6 {

  .top-header-text{
    ul{
      li{
        display: inline-block;
        padding-right: 20px;
        border-right: 2px solid $primary-border-color;
        height: 20px;
        line-height: 19px;

        &:last-child{
          padding-left: 20px;
          border: none;

          span{
            color: $secondary-text-color;
            font-weight: bold;
          }
        }
      }
    }
  }
  .top-links-container {
    height: 49px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background: $primary-bg-color;
    display: flex;
    align-items: center;

    .top-links{
      display: flex;
      align-items: center;
    }

    .top-links-area{

      .links{
        float: right;
        margin-top: 4px;

        li{
          border-left: 2px solid $primary-border-color;
        }
        li.first{
          padding-left: 0px;
        }
      }
    }
    a{
      font-size: 15px;
      text-transform: capitalize;
    }
  }
  .header {
    background: $white-color;
    display: flex;
    align-items: center;
    padding: 0px;
    min-height: 130px;

    .container{
      .parent-row{
        display: flex;
        justify-content: center;
      }
    }


  }
  .welcome-text {
    text-align: center;
    font-size: 15px;
  }

  .top-links-area{
      .mini-cart{
        right: 0px;
        .fa {
          color: $white-color;
          margin-top: 9px;
          margin-left: 10px;
          font-size: 16px;
        }

        .cart-info .cart-qty{
          background: $primary-blue-color;
          color: $white-color;
          line-height: 25px;
          width: 25px;
          @include border-radius(15px, 15px, 15px, 15px);
        }
      }
  }

  .menu-container{
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    height: 50px;
    background-color: $tertiary-bg-color;
    width: 100%;
    z-index: 30;


      .menu-all-pages-container{
        .menu{
          li.menu-full-width{
            padding: 5px 15px 5px;
            .anchor-container{
              float: left;
              color: $grey-primary;
              font-size: 16px;
              text-transform: capitalize;
              color: $grey-text-color;
            }
            .fa{
              float: right;
              font-size: 16px;
              padding-left: 7px;
              color: $grey-color-3
            }
            a{
              padding: 0 !important;
              &:after{
                content: none;
              }
            }

            &:first-child{
              padding-left: 0px;
            }
          }
          .nav-sublist-dropdown{
            border-top:5px solid $secondary-bg-color;
            padding: 10px 0px;
            z-index: 300;

            h5{
              font-size: 18px;
              border-bottom: 1px solid $secondary-bg-color;
            }
            ul{
              li{
                font-size: 16px;
                padding-bottom: 6px;
                width: 100%;
                line-height: 22px;
              }
            }
          }

          &.main{
            float: left;
          }
        }
        .menu.browse-model{
          float: right;
          li.menu-full-width{
            padding-right: 0;

            .nav-sublist-dropdown{
                width: 300px;
            }
          }
        }
      }
  }

  .logo-container{
    a {
      img {
        margin-right: 15px;
        margin-top: 15px;
      }
    }
  } 

  .header-search-box{
    display: flex;
    align-items: center;
    margin-right: 35px;

    .form-search{
      max-width: 420px;
      background-color: $tertiary-bg-color;
      float: right;
      right: 0px;
      height: 40px;
      padding-right: 28px;
      -webkit-border-radius: 3px 3px 3px 3px !important;
      -moz-border-radius: 3px 3px 3px 3px !important;
      -ms-border-radius: 3px 3px 3px 3px !important;
      border-radius: 3px 3px 3px 3px !important;
      border: 0;
      margin-right: 25px;

        #search{
          -webkit-border-radius: 3px 3px 3px 3px !important;
          -moz-border-radius: 3px 3px 3px 3px !important;
          -ms-border-radius: 3px 3px 3px 3px !important;
          border-radius: 3px 3px 3px 3px !important;
          border: 0px;
          font-size: 15px;
          height: 40px;
        }

        button {
          height: 40px;
          @include border-radius(0,3px,3px,0);
          color: $dark-grey;
          background-color: $tertiary-bg-color;
        }
    }

    .header-container-parts-catalog{
      text-align: center;
      width: 205px;
      float: right;
      border-left: 1px solid;
      padding-left: 20px;
      padding: 6px 0px 6px 24px;
      border-left: 2px solid $grey-color;

      span{
        text-align: center;
        font-size: 12px;
        display: block;
        color: $tertiary-text-color;
        margin-bottom: 7px;
      }

      a{
        display: block;
        background: $secondary-bg-color;
        color: $white-color;
        @include border-radius();
        line-height: 40px;
        font-family: robotobold;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
        height: 40px;
        border-bottom: 3px solid $secondary-border-color;

      }
    }
  }

  .topCartContent.theme-border-color{
    border-color: $secondary-bg-color !important;
    top: 28px;

    &:before{
      border-bottom-color:$secondary-bg-color;
      right: 6px;
    }
  }

}