<?xml version="1.0"?>
<config>
  <modules>
    <Growthrocket_Newslettertracker>
      <version>0.1.0</version>
    </Growthrocket_Newslettertracker>
  </modules>
  <global>
    <helpers>
      <newslettertracker>
        <class>Growthrocket_Newslettertracker_Helper</class>
      </newslettertracker>
    </helpers>
	<blocks>
	  <newslettertracker>
		<class>Growthrocket_Newslettertracker_Block</class>
	  </newslettertracker>
	</blocks>
	<models>
	  <newslettertracker>
		<class>Growthrocket_Newslettertracker_Model</class>
		<resourceModel>newslettertracker_mysql4</resourceModel>
	  </newslettertracker>
	  <newslettertracker_mysql4>
		<class>Growthrocket_Newslettertracker_Model_Mysql4</class>
		<entities>		  
			  <capture>
				<table>capture</table>
			  </capture>
		</entities>
	  </newslettertracker_mysql4>
	</models>
	<resources>
	  <newslettertracker_setup>
		<setup>
		  <module>Growthrocket_Newslettertracker</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </newslettertracker_setup>
	  <newslettertracker_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </newslettertracker_write>
	  <newslettertracker_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </newslettertracker_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <newslettertracker>
	    <use>admin</use>
		<args>
		  <module>Growthrocket_Newslettertracker</module>
		  <frontName>admin_newslettertracker</frontName>
		</args>
	  </newslettertracker>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <newslettertracker module="newslettertracker">
		<title>Newslettertracker</title>
		<sort_order>100</sort_order>
		<children>
		  <capture module="newslettertracker">
		    <title>Manage Capture</title>
			<sort_order>0</sort_order>
			<action>admin_newslettertracker/adminhtml_capture</action>
		  </capture>
		</children>
	  </newslettertracker>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<newslettertracker translate="title" module="newslettertracker">
			  <title>Newslettertracker</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <capture translate="title">
			<title>Manage Capture</title>
			<sort_order>0</sort_order>
		  </capture>
			  </children>
			</newslettertracker>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<newslettertracker>
		  <file>newslettertracker.xml</file>
		</newslettertracker>
	  </updates>
	</layout>
  </adminhtml>
</config> 