<?xml version="1.0"?>
<config>
  <modules>
    <Growthrocket_Redirection>
      <version>1.0.0</version>
    </Growthrocket_Redirection>
  </modules>
  <global>
    <helpers>
      <gr_redirection>
        <class>Growthrocket_Redirection_Helper</class>
      </gr_redirection>
    </helpers>
	  <models>
		  <gr_redirection>
			  <class>Growthrocket_Redirection_Model</class>
		  </gr_redirection>
	  </models>
	  <events>
		  <controller_front_init_routers>
			  <observers>
				  <growthrocket_sop_controller_front_init_routers>
					  <type>singleton</type>
					  <class>Growthrocket_Redirection_Model_Observer</class>
					  <method>redirection</method>
				  </growthrocket_sop_controller_front_init_routers>
			  </observers>
		  </controller_front_init_routers>
		  <controller_front_init_routers>
			  <observers>
				  <growthrocket_controller_front_init_routers>
					  <type>singleton</type>
					  <class>Growthrocket_Redirection_Model_Observer</class>
					  <method>MainRedirection</method>
				  </growthrocket_controller_front_init_routers>
			  </observers>
		  </controller_front_init_routers>
	  </events>
	  <resources>
		  <redirection_setup>
			  <setup>
				  <module>Growthrocket_Redirection</module>
			  </setup>
			  <connection>
				  <use>core_setup</use>
			  </connection>
		  </redirection_setup>
		  <redirection_write>
			  <connection>
				  <use>core_write</use>
			  </connection>
		  </redirection_write>
		  <redirection_read>
			  <connection>
				  <use>core_read</use>
			  </connection>
		  </redirection_read>
	  </resources>
  </global>
</config> 