.home-bottom-description{
  margin-top: 60px;
  .item{
    padding-left: 0px;
    text-align: left;
    margin-top: 20px;

    h3{
      color: $grey-color-3;
      font-size: 14px;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
    p{
      font-size: 16px;

      span.bold{
        color: $grey-color-3;
      }
    }
  }
}