.shop-by-category{
  background-color: $primary-bg-color;
  padding: 60px 0 35px 0;

  .heading{
    h2{
      color: $white-color ;
    }
  }

  .sby-category-listing{
    .group-sby-group-listing{
      text-align: center;

      a{
        color: #C5C5C5;
        font-size: 14px;
        text-decoration: none;
        display: block;
        margin: 8px 0px;

      }
    }
  }
}

.homepage-ymm-listing{
  background-color: #1A1616;
  margin-top: 60px;
  padding-top: 20px;
  padding-bottom: 60px;

  .shop-by-category{
    padding-top: 20px;
    padding-bottom: 30px;

    h2{
      color: $white-color;
      margin-bottom: 36px;
      font-size: 36px;
    }
    .sby-category-listing .group-sby-group-listing a {
      margin: 12px 0;
      text-align: center;
      color:#C5C5C5;
      font-size: 14px;
      font-family: Roboto;


      &:hover{
        color:$white-color;
        font-family: robotoregular;
      }
    }
  }
}

.product-list-container{
  @media (min-width: 1200px){
    margin-left: -7px;
    margin-right: -7px;
  }
  &.interlink{
    .product-noimage-container{

      @media (min-width: 1200px){
        width: 20%;
        padding-left: 7px;
        padding-right: 7px;
      }


      a{
        border: 1px solid $line-color;
        height: 48px;
        padding-left: 15px;
        display: flex;
        align-items: center;
        font-family: robotobold;
        color: $h1-text-color;
        margin-top: 13px;
        @include border-radius(4px,4px,4px,4px);

        span.arrow{
          color: $secondary-bg-color;
          position: absolute;
          right: 20px; 

          i{
            font-size: 20px;
            font-weight: bold;
          }
        }
      }
    }
  }
}