.shop-mopar-parts{
  background-color: $secondary-bg-color;
  min-height: 100px;
  text-align: center;
  margin-top: 60px;
  display: flex;
  padding: 10px 0px;
  align-items: center;
  justify-content: center;

  p{
    font-size: 28px;
    color: $white-color;
    margin: 0;
    line-height: 31px;

    a.button{
      background-color: $black-color;
      text-transform: uppercase;
      color: $white-color;
      min-width: 140px;
      margin-left: 50px;
      height: 40px;
      padding:0;
      line-height: 40px;
    }
  }
}