<config>
    <modules>
        <Growthrocket_Content>
            <version>0.1.5</version>
        </Growthrocket_Content>
    </modules>
    <global>
        <helpers>
            <grcontent>
                <class>Growthrocket_Content_Helper</class>
            </grcontent>
        </helpers>
        <blocks>
            <grcontent>
                <class>Growthrocket_Content_Block</class>
            </grcontent>
        </blocks>
        <models>
            <grcontent>
                <class>Growthrocket_Content_Model</class>
                <resourceModel>grcontent_resource</resourceModel>
            </grcontent>
            <grcontent_resource>
                <class>Growthrocket_Content_Model_Resource</class>
                <depercatedNode>grcontent_resource_eav_mysql4</depercatedNode>
                <entities>
                    <content>
                        <table>grcontent_content</table>
                    </content>
                    <page>
                        <table>grcontent_page</table>
                    </page>
                </entities>
            </grcontent_resource>
        </models>
        <resources>
            <grcontent_setup>
                <setup>
                    <module>Growthrocket_Content</module>
                </setup>
            </grcontent_setup>
        </resources>
        <grcontent>
            <template_filter>grcontent/template_filter</template_filter>
            <category>
                <template_filter>grcontent/template_filter_category</template_filter>
            </category>
            <part>
                <template_filter>grcontent/template_filter_part</template_filter>
            </part>
            <partmake>
                <template_filter>grcontent/template_filter_part_make</template_filter>
            </partmake>
            <partmodel>
                <template_filter>grcontent/template_filter_part_model</template_filter>
            </partmodel>
            <model>
                <template_filter>grcontent/template_filter_model</template_filter>
            </model>
        </grcontent>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <grcontent before="Mage_Adminhtml">Growthrocket_Content_Adminhtml</grcontent>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <grcontent>
                    <file>grcontent/index.xml</file>
                </grcontent>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <grcontent translate="title" module="grcontent">
                                            <title>Growthrocket Dynamic Content</title>
                                        </grcontent>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <grcontent>
                    <file>grcontent/content.xml</file>
                </grcontent>
            </updates>
        </layout>
    </frontend>
   <stores>
       <lfp>
           <general>
               <store_information>
                   <name>Levittown Ford Parts</name>
                   <address>980 So. Broadway Hicksville, NY 11801</address>
                   <phone>1-877-460-9497</phone>
               </store_information>
           </general>
           <design>
               <footer>
                   <copyright>Copyright © 2019 - Levittown Ford Parts - All rights reserved.</copyright>
               </footer>
           </design>
       </lfp>
   </stores>
</config>