.category-page .top-container > div.breadcrumbs, .part-make-page .top-container > div.breadcrumbs {
  padding-top: 0px; }

.category-products {
  margin-top: 20px; }

.category-products h1 {
  color: #002F64;
  font-family: 'exo 2';
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 35px;
  margin-bottom: 35px;
  border-bottom: 1px solid #E0E0E0; }

.category-products .top-toolbar .toolbar label, .category-products .footer-toolbar .toolbar label {
  font-size: 14px;
  color: #4F4F4F;
  font-family: robotobold;
  text-transform: capitalize; }

.category-products .top-toolbar .toolbar select, .category-products .footer-toolbar .toolbar select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  -webkit-border-radius: 0px;
  background-image: linear-gradient(45deg, transparent 50%, #FFFFFF 50%), linear-gradient(135deg, #FFFFFF 50%, transparent 50%), linear-gradient(to right, #002F64, #002F64);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
  font-size: 15px;
  font-family: robotoregular;
  color: #828282;
  border: 1px solid #E0E0E0;
  height: 39px;
  padding: 0px 55px 0px 15px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -ms-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  text-transform: capitalize; }

.category-products .top-toolbar .toolbar .pager .pages ol li, .category-products .footer-toolbar .toolbar .pager .pages ol li {
  height: 40px;
  width: 40px;
  margin-top: 10px;
  border: 1px solid #E0E0E0;
  font-size: 15px;
  line-height: 40px;
  color: #333333; }

.category-products .top-toolbar .toolbar .pager .pages ol li a, .category-products .footer-toolbar .toolbar .pager .pages ol li a {
  height: 37px;
  font-size: 15px;
  line-height: 40px;
  color: #828282;
  border: none; }

.category-products .top-toolbar .toolbar .pager .pages ol li a:hover, .category-products .footer-toolbar .toolbar .pager .pages ol li a:hover {
  background-color: transparent;
  color: #333333;
  font-family: robotobold; }

.category-products .top-toolbar .toolbar .pager .pages ol li.current, .category-products .footer-toolbar .toolbar .pager .pages ol li.current {
  background-color: #FFFFFF;
  font-family: robotobold; }

.category-products .top-toolbar .toolbar .pager .pages ol li.arrow-previous, .category-products .top-toolbar .toolbar .pager .pages ol li.arrow-next, .category-products .footer-toolbar .toolbar .pager .pages ol li.arrow-previous, .category-products .footer-toolbar .toolbar .pager .pages ol li.arrow-next {
  width: 100px; }

.category-products .top-toolbar .pager {
  display: none; }

.category-products .footer-toolbar {
  margin-top: 40px; }

.category-products .footer-toolbar .sort-by, .category-products .footer-toolbar .limiter {
  display: none; }

.category-products .footer-toolbar .pager {
  float: left; }

.category-products .footer-toolbar .label-pager {
  float: left;
  font-family: robotobold;
  font-size: 14px;
  padding-right: 15px;
  margin-top: 22px; }

.category-products .footer-toolbar .toolbar {
  float: left; }

.category-products ul.products-grid li.item {
  width: 100%;
  border-bottom: 1px solid #E0E0E0;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 0;
  padding-right: 0; }

.category-products ul.products-grid li.item:last-child {
  border-bottom: none; }

.category-products ul.products-grid li.item h2.product-name {
  font-size: 20px;
  color: #252525;
  margin-top: 0px; }

.category-products ul.products-grid li.item .part-no {
  display: flex;
  align-items: center; }

.category-products ul.products-grid li.item .part-no label {
  font-family: robotoregular;
  color: #252525; }

.category-products ul.products-grid li.item .part-no label, .category-products ul.products-grid li.item .part-no a {
  font-size: 16px; }

.category-products ul.products-grid li.item .part-no a {
  color: #002F64;
  padding-left: 15px;
  font-family: robotobold; }

.category-products ul.products-grid li.item .details-area {
  margin-top: 20px; }

.category-products ul.products-grid li.item .details-area .product-description {
  font-size: 16px;
  color: #4F4F4F; }

.category-products ul.products-grid li.item .details-area .product-description .learn-more {
  display: block;
  font-family: robotomedium;
  margin-top: 20px;
  color: #EEB709; }

.category-products ul.products-grid li.item .product-image-area {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -ms-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  min-height: 215px;
  display: flex;
  justify-content: center;
  align-items: center; }

.category-products ul.products-grid li.item .product-image img {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -ms-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px; }

.category-products ul.products-grid li.item .product-info-wrapper {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -ms-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
  border: 1px solid #E0E0E0; }

.category-products ul.products-grid li.item .product-info-wrapper .price-box .regular-price .price {
  color: #002F64;
  font-size: 42px;
  font-family: robotobold;
  margin-bottom: 10px; }

.category-products ul.products-grid li.item .product-info-wrapper .price-box .old-price .price-label, .category-products ul.products-grid li.item .product-info-wrapper .price-box .old-price .price {
  display: inline-block;
  font-size: 16px;
  color: #333333; }

.category-products ul.products-grid li.item .product-info-wrapper .price-box .special-price {
  margin-bottom: 10px;
  margin-top: 10px; }

.category-products ul.products-grid li.item .product-info-wrapper .price-box .special-price .price-label {
  font-size: 14px;
  display: block;
  font-family: robotobold;
  padding-bottom: 5px; }

.category-products ul.products-grid li.item .product-info-wrapper .price-box .special-price .price {
  color: #002F64;
  font-size: 38px;
  font-family: robotobold; }

.category-products ul.products-grid li.item .product-info-wrapper .price-box .msrp-container {
  font-size: 20px;
  color: #333333;
  text-decoration: line-through;
  margin-bottom: 0px; }

.category-products ul.products-grid li.item .product-info-wrapper .price-box .msrp-container .price {
  font-weight: normal; }

.category-products ul.products-grid li.item .product-info-wrapper .price-box .savings-container {
  font-size: 20px;
  color: #333333;
  margin-bottom: 0px; }

.category-products ul.products-grid li.item .product-info-wrapper .price-box .savings-container .price {
  font-weight: normal;
  color: #333333; }

.category-products ul.products-grid li.item .product-info-wrapper .actions a.button {
  width: 70%;
  margin-top: 10px;
  text-transform: uppercase;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -ms-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  border-bottom: 3px solid #D5A408;
  color: #FFFFFF; }

.category-products ul.products-grid li.item .product-small-view .savings-container .price {
  color: #F2F2F2; }

.category-products ul.products-grid li.item .product-small-view a.button {
  text-transform: uppercase; }

.category-products .layered-proxy-container {
  margin-top: 20px; }

.category-products .layered-proxy-container .block .block-content dl dt.odd {
  -webkit-border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  -ms-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: #333333;
  padding: 10px 0px 0; }

.category-products .layered-proxy-container .block .block-content dl dd.odd {
  -webkit-border-radius: 0px 0px 3px 3px;
  -moz-border-radius: 0px 0px 3px 3px;
  -ms-border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 3px 3px;
  border: none;
  background-color: transparent;
  padding: 20px 0px 30px; }

.category-products .layered-proxy-container .block .block-content dl dd.odd a {
  font-size: 16px; }

.category-products .product-small-view {
  display: none; }

.category-page .header-title h1 {
  border-bottom: 0;
  padding-bottom: 0; }

.category-page .category-partname {
  margin-bottom: 50px; }

.category-page .category-partname h2.title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin: 10px 0px 30px;
  font-family: 'exo 2';
  font-size: 32px;
  font-weight: 600;
  color: #002F64; }

.category-page .category-partname .item {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px; }

.category-page .category-partname .item a.image {
  display: block; }

.category-page .category-partname .item a.title {
  display: inline-block;
  margin-top: 15px;
  color: #191919;
  font-weight: 600;
  min-height: 40px; }

.category-page .category-partname .show-more, .category-page .category-partname .show-less {
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #EEB709;
  cursor: pointer;
  outline: none;
  margin: 15px auto 0px;
  border: none;
  background: none; }

.shop-by-category.listing-pg #shop-cat .heading h2 {
  text-align: left;
  font-size: 22px;
  text-transform: uppercase;
  font-family: robotolight;
  margin-bottom: 20px; }

.catalogsearch-result-index h1 {
  color: #333333;
  font-size: 28px;
  margin-bottom: 35px; }

.catalogsearch-result-index .price-box .part-container {
  display: none; }

.category-page .no-product .block-layered-nav {
  margin-top: 0px; }

.category-page .block-layered-nav .ymm-selected {
  margin: 10px 0px; }

.category-page .block-layered-nav .ymm-selected label {
  font-size: 14px;
  text-transform: capitalize; }

.category-page .block-layered-nav .ymm-selected a.clear {
  font-weight: normal;
  float: right;
  font-size: 12px;
  padding-right: 10px;
  color: #002F64;
  text-transform: lowercase; }

.category-page .block-layered-nav .block-content {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -ms-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #E0E0E0;
  margin-top: 30px;
  padding: 10px 25px 10px; }

.category-page .block-layered-nav .block-content .head {
  font-size: 20px;
  color: #333333;
  font-family: robotobold;
  margin: 20px 0px 25px;
  text-transform: capitalize; }

.category-page .block-layered-nav .block-content .head a.clear {
  font-weight: normal;
  float: right;
  font-size: 12px;
  padding-right: 10px;
  color: #333333;
  text-transform: lowercase; }

.category-page .block-layered-nav .block-content .content {
  margin-bottom: 16px; }

.category-page .block-layered-nav .block-content .content ol li {
  margin-bottom: 10px; }

.category-page .block-layered-nav .block-content .content label {
  margin: 0px;
  cursor: pointer;
  font-family: robotoregular;
  color: #333333;
  display: flex; }

.category-page .block-layered-nav .block-content .content label span {
  font-weight: normal;
  padding-left: 10px;
  font-size: 14px;
  text-transform: capitalize; }

.category-page .block-layered-nav .block-content .content label .fa {
  font-size: 20px;
  color: #828282; }

.category-page .block-layered-nav .block-content .content .show-hide .action-show-hide {
  background-color: #EEB709;
  color: #FFFFFF;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -ms-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  height: 40px;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  font-family: robotobold;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 3px solid #D5A408;
  cursor: pointer; }

.shop-by-category {
  background-color: #191919;
  margin: 0;
  color: #FFFFFF;
  text-align: left;
  padding: 50px 0; }

.shop-by-category h2 {
  color: #FFFFFF;
  font-family: 'exo 2';
  font-size: 36px;
  font-weight: 600; }

.shop-by-category p {
  color: #FFFFFF; }

.shop-by-category .group-sby-group-listing a {
  color: #FFFFFF;
  display: block;
  margin: 15px 0px; }

.shop-by-category .heading {
  padding-right: 30px; }

@media (max-width: 768px) {
  .category-products ul.products-grid li.item .product-small-view .savings-container .price {
    color: #002F64; }
  .category-products ul.products-grid li.item h2.product-name {
    margin-top: 20px; }
  .category-products .products-grid li.item .product-image {
    margin: 15px auto;
    height: auto; }
  .category-products .layered-proxy-container {
    margin-top: 50px; }
  .product-listing .sorter .sort-by {
    margin-bottom: 20px; }
  .product-listing .container .row {
    margin-left: -15px;
    margin-right: -15px; }
  .product-listing .container .price-container {
    margin-top: 20px; }
  .product-listing .container .product-info-container .msrp-container {
    margin-bottom: 0px;
    text-decoration: line-through; }
  .product-listing .container .product-info-container .regular-price .price {
    color: #002F64;
    font-family: robotobold; }
  .product-listing .container .actions {
    margin-top: 20px;
    text-align: center; }
  .product-listing .container .actions .button {
    width: 100%;
    max-width: 320px;
    margin: auto;
    color: #FFFFFF;
    border-bottom: 3px solid #D5A408; }
  .category-part-listing .cat-owl-wrapper {
    padding-left: 20px;
    padding-right: 20px; }
  .category-part-listing .part-header {
    font-size: 16px;
    padding-right: 50px;
    font-family: robotoregular; }
  .hautopart-model-cat .product-info-wrapper {
    margin-top: 20px; } }

@media (max-width: 767px) {
  .category-products .product-small-view {
    display: block; }
  .category-products .product-small-view .part-container {
    display: none; }
  .hautopart-model-cat .sorter .sort-by {
    margin-bottom: 20px; }
  .hautopart-model-cat .product-small-view {
    padding-left: 0;
    padding-right: 0; }
  .hautopart-model-cat .product-small-view .details-area {
    margin-bottom: 20px; }
  .hautopart-model-cat .product-small-view a.button {
    display: block;
    max-width: 450px;
    width: 100%;
    color: #FFFFFF;
    border-bottom: 3px solid #D5A408; }
  .hautopart-model-cat .product-small-view .price-box .msrp-container {
    margin-bottom: 0;
    margin-top: 10px; }
  .hautopart-model-cat .product-small-view .price-box .regular-price .price {
    color: #002F64; } }

@media screen and (max-width: 767px) and (min-width: 459px) {
  .product-list-container .product-item-container {
    width: 33.33333%; }
  .category-products ul.products-grid li.item .part-no {
    margin-top: 20px; }
  .shop-by-category #shop-cat .group-sby-group-listing {
    width: 50%; } }

@media (max-width: 460px) {
  .category-products ul.products-grid li.item .part-no {
    margin-top: 20px; }
  .category-products ul.products-grid li.item h2.product-name {
    margin-top: 0; }
  .shop-mopar-parts p a.button {
    display: block;
    margin: 10px auto; }
  .hautopart-model-cat .category-products .row {
    margin-left: -15px;
    margin-right: -15px; } }

/*# sourceMappingURL=listing_page.css.map */
