
$primary-bg-color: #1A1616;

$secondary-bg-color:#7C0F0F;

$box-shadow-bg: #510404;

$tertiary-bg-color: #F3F3F3;

$primary-text-color: #282828;

$tertiary-text-color: #828282;

$h1-text-color:#181819;

$h2-text-color:#181819;

$black-color: #000000;

$white-color: #FFFFFF;

$grey-color: #E0E0E0;

$dark-grey: #777777;

$grey-color-6: #F2F2F2;

$grey-color-3: #333333;

$line-color: #BDBDBD;

$pale-grey: #F5F5F5;

$grey-primary: #828282;

$textbox-color: #E5E5E5;

$ymm-background-color: #2E2626;

$ymm-text-color: #252525;

$carousel-nav-color:#B8B42D;

$blue-link-color: #0F347C;

$accordion-color:#191616;