<?xml version="1.0"?>
<config>
  <modules>
    <Growthrocket_Gtm>
      <version>0.1.0</version>
    </Growthrocket_Gtm>
  </modules>
  <global>
    <helpers>
      <growthrocket_gtm>
        <class>Growthrocket_Gtm_Helper</class>
      </growthrocket_gtm>
    </helpers>
      <models>
          <growthrocket_gtm>
              <class>Growthrocket_Gtm_Model</class>
              <resourceModel>gtm_mysql4</resourceModel>
          </growthrocket_gtm>
      </models>
      <events>
          <sales_quote_item_save_after>
              <observers>
                  <sales_quote_item_save_after_handler_gtmgr>
                      <type>model</type>
                      <class>Growthrocket_Gtm_Model_Observer</class>
                      <method>addCustomGaTracking</method>
                  </sales_quote_item_save_after_handler_gtmgr>
              </observers>
          </sales_quote_item_save_after>
      </events>
  </global>
  <websites>
    <lfp>
        <gta>
            <gta_groups>
                <enable>1</enable>
                <key>GTM-TH9MDCF</key>
            </gta_groups>
        </gta>
    </lfp>
  </websites>
</config>  