<?xml version="1.0"?>
<config>
	  <sections>
		<gr_dd_sync  translate="label" module="spamprotection">
		<label>DotDigital Sync YMM</label>
		<tab>gr_systemtab</tab>
		<frontend_type>text</frontend_type>
		<sort_order>10</sort_order>
		<show_in_default>1</show_in_default>
		<show_in_website>1</show_in_website>
		<show_in_store>1</show_in_store>
					<groups>
				      <gr_sync_group translate="label">
					  <label>DotDigital Sync YMM Settings</label>
					  <frontend_type>text</frontend_type>
					  <sort_order>0</sort_order>
					  <show_in_default>1</show_in_default>
					  <show_in_website>1</show_in_website>
					  <show_in_store>1</show_in_store>
				       <fields>
                          <enable translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </enable>
						   <auth_username translate="label">
							   <label>Auth Username</label>
							   <frontend_type>text</frontend_type>
							   <sort_order>20</sort_order>
							   <show_in_default>1</show_in_default>
							   <show_in_website>1</show_in_website>
							   <show_in_store>0</show_in_store>
						   </auth_username>
						   <auth_password translate="label">
							   <label>Auth Password</label>
							   <frontend_type>password</frontend_type>
							   <sort_order>30</sort_order>
							   <show_in_default>1</show_in_default>
							   <show_in_website>1</show_in_website>
							   <show_in_store>0</show_in_store>
						   </auth_password>
						   <auth_url translate="label">
							   <label>DotDigital Base URL</label>
							   <frontend_type>text</frontend_type>
							   <sort_order>40</sort_order>
							   <show_in_default>1</show_in_default>
							   <show_in_website>1</show_in_website>
							   <show_in_store>0</show_in_store>
						   </auth_url>
						   <sync_limit translate="label">
							   <label>Sync Limit</label>
							   <frontend_type>text</frontend_type>
							   <sort_order>50</sort_order>
							   <show_in_default>1</show_in_default>
							   <show_in_website>1</show_in_website>
							   <show_in_store>0</show_in_store>
						   </sync_limit>
					   </fields>
					   </gr_sync_group>
					</groups>
		</gr_dd_sync>
	  </sections>
</config>
