<?xml version="1.0"?>
<config>
  <modules>
    <Growthrocket_Grsitemap>
      <version>0.1.0</version>
    </Growthrocket_Grsitemap>
  </modules>
  <frontend>
    <routers>
      <grsitemap>
        <use>standard</use>
          <args>
            <module>Growthrocket_Grsitemap</module>
            <frontName>sitemap.html</frontName>
          </args>
      </grsitemap>
    </routers>
		<layout>
		  <updates>
			<grsitemap>
			  <file>grsitemap.xml</file>
			</grsitemap>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <grsitemap>
        <class>Growthrocket_Grsitemap_Helper</class>
      </grsitemap>
    </helpers>
	<blocks>
	  <grsitemap>
		<class>Growthrocket_Grsitemap_Block</class>
	  </grsitemap>
	</blocks>
  </global>
</config> 