<?xml version="1.0"?>
<config>
  <modules>
    <Growthrocket_Contactform>
      <version>0.1.0</version>
    </Growthrocket_Contactform>
  </modules>
  <frontend>
    <routers>
      <contactform>
        <use>standard</use>
          <args>
            <module>Growthrocket_Contactform</module>
            <frontName>contactform</frontName>
          </args>
      </contactform>
    </routers>
  </frontend>
  <global>
    <helpers>
      <contactform>
        <class>Growthrocket_Contactform_Helper</class>
      </contactform>
    </helpers>
  </global>
</config> 