<?xml version="1.0"?>
<config>
  <modules>
    <Growthrocket_Faq>
      <version>0.1.0</version>
    </Growthrocket_Faq>
  </modules>
  <global>
    <helpers>
      <faq>
        <class>Growthrocket_Faq_Helper</class>
      </faq>
    </helpers>
	<blocks>
	  <faq>
		<class>Growthrocket_Faq_Block</class>
	  </faq>
	</blocks>
	<models>
	  <faq>
		<class>Growthrocket_Faq_Model</class>
		<resourceModel>faq_mysql4</resourceModel>
	  </faq>
	  <faq_mysql4>
		<class>Growthrocket_Faq_Model_Mysql4</class>
		<entities>
			  <grfaq>
				<table>gr_faq</table>
			  </grfaq>
        </entities>
	  </faq_mysql4>
	</models>
	<resources>
	  <faq_setup>
		<setup>
		  <module>Growthrocket_Faq</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </faq_setup>
	  <faq_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </faq_write>
	  <faq_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </faq_read>
	</resources>
  </global>
  <admin>
	  <routers>
		  <adminhtml>
			  <args>
				  <modules><growthrocket_faq before="Mage_Adminhtml">Growthrocket_Faq_Adminhtml</growthrocket_faq></modules>
			  </args>
		  </adminhtml>
	  </routers>
  </admin>
  <adminhtml>
	  <menu>
		  <cms>
			  <children>
				  <grfaq module="faq">
					  <title>FAQ</title>
					  <sort_order>100</sort_order>
					  <action>adminhtml/grfaq/index</action>
				  </grfaq>
			  </children>
		  </cms>
	  </menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<faq translate="title" module="faq">
			  <title>Faq</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <grfaq translate="title">
			<title>Manage Grfaq</title>
			<sort_order>0</sort_order>
		  </grfaq>
			  </children>
			</faq>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<faq>
		  <file>faq.xml</file>
		</faq>
	  </updates>
	</layout>
  </adminhtml>
</config> 