<?xml version="1.0"?>
<config>
    <modules>
        <Homebase_Sitemap>
            <version>1.0.0</version>
        </Homebase_Sitemap>
    </modules>
    <global>
        <blocks>
            <hsitemap>
                <class>Homebase_Sitemap_Block</class>
            </hsitemap>
        </blocks>
        <models>
            <hsitemap>
                <class>Homebase_Sitemap_Model</class>
                <resourceModel>multimap_resource</resourceModel>
            </hsitemap>
            <multimap_resource>
                <class>Homebase_Sitemap_Model_Resource</class>
                <deprecatedNode>multimap_mysql4</deprecatedNode>
                <entities>
                    <multimap>
                        <table>multimap</table>
                    </multimap>
                    <multimap_index_tmp>
                        <table>ymm_sku_sitemap</table>
                    </multimap_index_tmp>
                </entities>
            </multimap_resource>
            <sitemap>
                <rewrite>
                    <sitemap>Homebase_Sitemap_Model_Sitemap</sitemap>
                </rewrite>
            </sitemap>
        </models>
        <helpers>
            <hsitemap>
                <class>Homebase_Sitemap_Helper</class>
            </hsitemap>
        </helpers>
        <resources>
            <hsitemap_setup>
                <setup>
                    <module>Homebase_Sitemap</module>
                </setup>
            </hsitemap_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <hsitemap>
                    <file>hsitemap/index.xml</file>
                </hsitemap>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <hsitemap before="Mage_Adminhtml">Homebase_Sitemap_Adminhtml</hsitemap>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
