<?xml version="1.0"?>
<config>
  <modules>
    <Growthrocket_Ordernotes>
      <version>0.1.0</version>
    </Growthrocket_Ordernotes>
  </modules>
  <global>
    <helpers>
      <ordernotes>
        <class>Growthrocket_Ordernotes_Helper</class>
      </ordernotes>
    </helpers>
	<models>
	  <ordernotes>
		<class>Growthrocket_Ordernotes_Model</class>
		<resourceModel>ordernotes_mysql4</resourceModel>
	  </ordernotes>
	</models>
	<resources>
	  <growthrocket_ordernotes_setup>
		<setup>
		  <module>Growthrocket_Ordernotes</module>
		  <class>Mage_Sales_Model_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </growthrocket_ordernotes_setup>
	  <growthrocket_ordernotes_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </growthrocket_ordernotes_write>
	  <growthrocket_ordernotes_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </growthrocket_ordernotes_read>
	</resources>
	  <events>
		  <checkout_submit_all_after>
			  <observers>
				  <order_notes_model_observer>
					  <type>singleton</type>
					  <class>Growthrocket_Ordernotes_Model_Observer</class>
					  <method>saveOrderNotes</method>
				  </order_notes_model_observer>
			  </observers>
		  </checkout_submit_all_after>
	  </events>
	  <fieldsets>
		  <sales_convert_quote>
			  <order_notes>
				  <to_order>*</to_order>
			  </order_notes>
		  </sales_convert_quote>
		  <sales_convert_order>
			  <order_notes>
				  <to_quote>*</to_quote>
			  </order_notes>
		  </sales_convert_order>
	  </fieldsets>
  </global>
	<adminhtml>
		<layout>
			<updates>
				<growthrocket_ordernotes>
					<file>ordernotes.xml</file>
				</growthrocket_ordernotes>
			</updates>
		</layout>
		<events>
			<core_block_abstract_to_html_after>
				<observers>
					<ordernotes_custom_order_view_info>
						<class>Growthrocket_Ordernotes_Model_Observer</class>
						<method>getSalesOrderViewInfo</method>
					</ordernotes_custom_order_view_info>
				</observers>
			</core_block_abstract_to_html_after>
		</events>
	</adminhtml>
</config> 