<config>
    <modules>
        <Homebase_Autopart>
            <version>2.1.5</version>
        </Homebase_Autopart>
    </modules>
    <global>
        <!--<rewrite>-->
            <!--<homebase_autopart_adminhtml_catalog_product_attributecontroller>-->
                <!--<from><![CDATA[#^/admin/catalog_product_attribute/#]]></from> &lt;!&ndash; Mage_Adminhtml_Catalog_Product_AttributeController  &ndash;&gt;-->
                <!--<to>/autopart/adminhtml_catalog_product_attribute/</to> &lt;!&ndash; Homebase_Autopart_Adminhtml_Catalog_Product_AttributeController  &ndash;&gt;-->
            <!--</homebase_autopart_adminhtml_catalog_product_attributecontroller>-->
        <!--</rewrite>-->
        <blocks>
            <hautopart>
                <class>Homebase_Autopart_Block</class>
            </hautopart>
            <page>
                <rewrite>
                    <html_topmenu>Homebase_Autopart_Block_Topmenu</html_topmenu>
                    <html_breadcrumbs>Homebase_Autopart_Block_Page_Html_Breadcrumbs</html_breadcrumbs>
                </rewrite>
            </page>
            <checkout>
                <rewrite>
                    <cart_item_renderer>Homebase_Autopart_Block_Cart_Item_Renderer</cart_item_renderer>
                </rewrite>
            </checkout>
            <adminhtml>
                <rewrite>
                    <catalog_product_attribute_edit_form>Homebase_Autopart_Block_Adminhtml_Catalog_Product_Attribute_Edit_Form</catalog_product_attribute_edit_form>
                </rewrite>
            </adminhtml>

        </blocks>
        <helpers>
            <hautopart>
                <class>Homebase_Autopart_Helper</class>
            </hautopart>
        </helpers>
        <models>
            <hautopart>
                <class>Homebase_Autopart_Model</class>
                <resourceModel>autopart_resource</resourceModel>
            </hautopart>
            <catalog>
                <rewrite>
                    <product>Homebase_Autopart_Model_Product</product>
                    <product_url>Homebase_Autopart_Model_Product_Url</product_url>
                </rewrite>
            </catalog>
            <autopart_resource>
                <class>Homebase_Autopart_Model_Resource</class>
                <deprecatedNode>autopart_mysql4</deprecatedNode>
                <entities>
                    <combination>
                        <table>auto_combination</table>
                    </combination>
                    <combination_list>
                        <table>auto_combination_list</table>
                    </combination_list>
                    <combination_label>
                        <table>auto_combination_list_labels</table>
                    </combination_label>
                    <attribute_images>
                        <table>auto_attribute_images</table>
                    </attribute_images>
                    <combination_indexer>
                        <table>auto_combination_index</table>
                    </combination_indexer>
                    <customer_combination>
                        <table>auto_customer_combination</table>
                    </customer_combination>
                </entities>
            </autopart_resource>
        </models>
        <resources>
            <hautopart_setup>
                <setup>
                    <module>Homebase_Autopart</module>
                </setup>
            </hautopart_setup>
        </resources>
        <catalog>
            <product>
                <type>
                    <autopart translate="label" module="hautopart">
                        <label>Custom Auto</label>
                        <model>hautopart/product_type_autopart</model>
                        <composite>0</composite>
                        <index_priority>70</index_priority>
                    </autopart>
                </type>
            </product>
        </catalog>
    </global>
    <default>
        <web>
            <routers>
                <hautopart_router>
                    <area>frontend</area>
                    <class>Homebase_Autopart_Controller_Router</class>
                </hautopart_router>
            </routers>
        </web>
    </default>
    <frontend>
        <routers>
            <hautopart>
                <use>hautopart_router</use>
                <args>
                    <module>Homebase_Autopart</module>
                </args>
            </hautopart>
            <hautopartajax>
                <use>standard</use>
                <args>
                    <module>Homebase_Autopart</module>
                    <frontName>hajax</frontName>
                </args>
            </hautopartajax>
        </routers>
        <layout>
            <updates>
                <hautopart>
                    <file>homebase/hautopart.xml</file>
                </hautopart>
            </updates>
        </layout>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <controller_action_layout_load_before_handler>
                        <class>hautopart/observer</class>
                        <method>doControllerActionLayoutLoadBefore</method>
                    </controller_action_layout_load_before_handler>
                </observers>
            </controller_action_layout_load_before>
            <controller_action_layout_generate_blocks_before>
                <observers>
                    <controller_action_layout_generate_blocks_before_handler>
                        <class>hautopart/observer</class>
                        <method>do_controller_action_layout_generate_blocks_before_handler</method>
                    </controller_action_layout_generate_blocks_before_handler>
                </observers>
            </controller_action_layout_generate_blocks_before>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <controller_action_layout_generate_blocks_after_handler>
                        <class>hautopart/observer</class>
                        <method>doControllerActionLayoutGenerateBlocksAfter</method>
                    </controller_action_layout_generate_blocks_after_handler>
                </observers>
            </controller_action_layout_generate_blocks_after>
            <core_block_abstract_to_html_after>
                <observers>
                    <hautopart_block_abstract_to_html_after_handler>
                        <class>hautopart/observer</class>
                        <method>do_core_block_abstract_to_html_after</method>
                    </hautopart_block_abstract_to_html_after_handler>
                </observers>
            </core_block_abstract_to_html_after>
            <customer_login>
                <observers>
                    <hauto_customer_login>
                        <class>hautopart/observer</class>
                        <method>customerLogin</method>
                    </hauto_customer_login>
                </observers>
            </customer_login>
            <customer_save_after>
                <observers>
                    <hauto_customer_save_after>
                        <class>hautopart/observer</class>
                        <method>customerLogin</method>
                    </hauto_customer_save_after>
                </observers>
            </customer_save_after>
            <checkout_onepage_controller_success_action>
                <observers>
                    <hauto_checkout_onepage_controller_success_action>
                        <class>hautopart/observer</class>
                        <method>saveCombinationOnCheckoutSuccess</method>
                    </hauto_checkout_onepage_controller_success_action>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <hautopart>
                    <file>homebase/hautopart.xml</file>
                </hautopart>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <hautopart translate="title" module="hautopart">
                                            <title>Autoparts - Extensions </title>
                                        </hautopart>
                                        <fitment translate="title" module="hautopart">
                                            <title>Autoparts - Store Fitment</title>
                                        </fitment>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <!--<catalog_product_edit_action>-->
                <!--<observers>-->
                    <!--<bundlecreatorplus_product_edit_observer>-->
                        <!--<class>hautopart/observer</class>-->
                        <!--<method>setAttributeTabBlock</method>-->
                    <!--</bundlecreatorplus_product_edit_observer>-->
                <!--</observers>-->
            <!--</catalog_product_edit_action>-->
            <!--<catalog_product_new_action>-->
                <!--<observers>-->
                    <!--<bundlecreatorplus_product_new_observer>-->
                        <!--<class>hautopart/observer</class>-->
                        <!--<method>setAttributeTabBlock</method>-->
                    <!--</bundlecreatorplus_product_new_observer>-->
                <!--</observers>-->
            <!--</catalog_product_new_action>-->
            <!--<adminhtml_catalog_product_save_after>-->
                <!--<observers>-->
                    <!--<catalog_product_save_after_handler>-->
                        <!--<class>hautopart/observer</class>-->
                        <!--<method>doPrepareSave</method>-->
                    <!--</catalog_product_save_after_handler>-->
                <!--</observers>-->
            <!--</adminhtml_catalog_product_save_after>-->
            <model_delete_after>
                <observers>
                    <model_delete_after_handler>
                        <class>hautopart/observer</class>
                        <method>doModelDeleteAfter</method>
                    </model_delete_after_handler>
                </observers>
            </model_delete_after>

            <adminhtml_catalog_product_attribute_edit_prepare_form>
                <observers>
                    <adminhtml_catalog_product_attribute_edit_prepare_form_handler>
                        <class>hautopart/observer</class>
                        <method>doAdminhtmlCatalogProductAttributeEditPrepareForm</method>
                    </adminhtml_catalog_product_attribute_edit_prepare_form_handler>
                </observers>
            </adminhtml_catalog_product_attribute_edit_prepare_form>

            <core_block_abstract_to_html_before>
                <observers>
                    <core_block_abstract_to_html_before_handler>
                        <class>hautopart/observer</class>
                        <method>doCoreBlockAbstractToHtmlBefore</method>
                    </core_block_abstract_to_html_before_handler>
                </observers>
            </core_block_abstract_to_html_before>

            <controller_action_postdispatch_adminhtml_catalog_product_attribute_save>
                <observers>
                    <adminhtml_catalog_product_attribute_save_handler>
                        <class>hautopart/observer</class>
                        <method>doAdminhtmlCatalogProductAttributeSave</method>
                    </adminhtml_catalog_product_attribute_save_handler>
                </observers>
            </controller_action_postdispatch_adminhtml_catalog_product_attribute_save>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <hautopart before="Mage_Adminhtml">Homebase_Autopart_Adminhtml</hautopart>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <websites>
        <base>
            <fitment>
                <configuration>
                    <enable>1</enable>
                    <make>302,303,304,305</make>
                </configuration>
            </fitment>
        </base>
        <spp>
            <fitment>
                <configuration>
                    <enable>1</enable>
                    <make>422</make>
                </configuration>
            </fitment>
        </spp>
        <lfp>
            <fitment>
                <configuration>
                    <enable>1</enable>
                    <make>3454,3469</make>
                </configuration>
            </fitment>
        </lfp>
        <mopar>
            <fitment>
                <configuration>
                    <enable>1</enable>
                    <make>302,303,304,305,3528,3529</make>
                </configuration>
            </fitment>
        </mopar>
    </websites>
</config>