<config>
    <modules>
        <Homebase_Auto>
            <version>0.1.0</version>
        </Homebase_Auto>
    </modules>
    <global>
        <helpers>
            <hauto>
                <class>Homebase_Auto_Helper</class>
            </hauto>
        </helpers>
        <blocks>
            <hauto>
                <class>Homebase_Auto_Block</class>
            </hauto>
            <checkout>
                <rewrite>
                    <cart>Homebase_Auto_Block_Cart</cart>
                </rewrite>
            </checkout>
        </blocks>
        <models>
            <hauto>
                <class>Homebase_Auto_Model</class>
                <resourceModel>auto_resource</resourceModel>
            </hauto>
            <sitemap>
                <rewrite>
                    <sitemap>Homebase_Auto_Model_Sitemap</sitemap>
                </rewrite>
            </sitemap>
            <auto_resource>
                <class>Homebase_Auto_Model_Resource</class>
                <depercatedNode>auto_resource_eav_mysql4</depercatedNode>
                <entities>
                    <combination_indexer>
                        <table>auto_combination_index</table>
                    </combination_indexer>
                </entities>
            </auto_resource>
        </models>
        <resources>
            <hauto_setup>
                <setup>
                    <module>Homebase_Auto</module>
                </setup>
            </hauto_setup>
        </resources>
        <index>
            <indexer>
                <hauto_indexer>
                    <model>hauto/index_combination</model>
                </hauto_indexer>
            </indexer>
        </index>
        <events>
            <catalog_product_save_after>
                <observers>
                    <catalog_product_save_after_handler>
                        <class>hauto/observer</class>
                        <method>doCatalogProductSaveAfter</method>
                    </catalog_product_save_after_handler>
                </observers>
            </catalog_product_save_after>
            <auto_fitment_save_after>
                <observers>
                    <auto_fitment_save_after_handler>
                        <class>hauto/observer</class>
                        <method>doAutoFitmentSaveAfter</method>
                    </auto_fitment_save_after_handler>
                </observers>
            </auto_fitment_save_after>
            <auto_fitment_delete_after>
                <observers>
                    <auto_fitment_delete_after_handler>
                        <class>hauto/observer</class>
                        <method>doAutoFitmentDeleteAfter</method>
                    </auto_fitment_delete_after_handler>
                </observers>
            </auto_fitment_delete_after>
        </events>
    </global>
    <default>
        <web>
            <routers>
                <hauto_router>
                    <area>frontend</area>
                    <class>Homebase_Auto_Controller_Auto_Router</class>
                </hauto_router>
            </routers>
        </web>
    </default>
    <frontend>
        <routers>
            <hauto_category>
                <use>hauto_router</use>
                <args>
                    <module>Homebase_Auto</module>
                    <frontName>category</frontName>
                </args>
            </hauto_category>
            <hauto_part>
                <use>hauto_router</use>
                <args>
                    <module>Homebase_Auto</module>
                    <frontName>part</frontName>
                </args>
            </hauto_part>
            <part_make>
                <use>hauto_router</use>
                <args>
                    <module>Homebase_Auto</module>
                    <frontName>part-make</frontName>
                </args>
            </part_make>
            <part_model>
                <use>hauto_router</use>
                <args>
                    <module>Homebase_Auto</module>
                    <frontName>part-model</frontName>
                </args>
            </part_model>
            <part_ymm>
                <use>hauto_router</use>
                <args>
                    <module>Homebase_Auto</module>
                    <frontName>part-ymm</frontName>
                </args>
            </part_ymm>
        </routers>
        <layout>
            <updates>
                <hauto>
                    <file>hauto/frontend.xml</file>
                </hauto>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <hauto_block_abstract_to_html_after_handler>
                        <class>hauto/observer</class>
                        <method>doCoreBlockAbstractToHtmlAfter</method>
                    </hauto_block_abstract_to_html_after_handler>
                    <hauto_inject_canonical_handler>
                        <class>hauto/observer</class>
                        <method>doInjectCanonical</method>
                    </hauto_inject_canonical_handler>
                </observers>
            </core_block_abstract_to_html_after>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <hauto_controller_action_layout_generate_blocks_after_handler>
                        <class>hauto/observer</class>
                        <method>injectCanonicalUsingBlocks</method>
                    </hauto_controller_action_layout_generate_blocks_after_handler>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <hauto translate="title" module="hauto">
                                            <title>Autoparts II - Extensions</title>
                                        </hauto>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <sitemap>
            <fitment>
                <priority>0.25</priority>
                <changefreq>daily</changefreq>
            </fitment>
        </sitemap>
    </default>
</config>