<?xml version="1.0"?>
<config>
    <modules>
        <MagicToolbox_Sirv>
            <version>1.2.3</version>
        </MagicToolbox_Sirv>
    </modules>
    <global>
        <models>
            <sirv>
                <class>MagicToolbox_Sirv_Model</class>
                <resourceModel>sirv_mysql4</resourceModel>
            </sirv>
            <sirv_mysql4>
                <class>MagicToolbox_Sirv_Model_Mysql4</class>
                <entities>
                    <cache>
                        <table>sirv_cache</table>
                    </cache>
                </entities>
            </sirv_mysql4>
            <catalog>
                <rewrite>
                    <category>MagicToolbox_Sirv_Model_Category</category>
                    <product_image>MagicToolbox_Sirv_Model_Product_Image</product_image>
                </rewrite>
            </catalog>
        </models>
        <resources>
            <sirv_setup>
                <setup>
                    <module>MagicToolbox_Sirv</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sirv_setup>
            <sirv_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sirv_write>
            <sirv_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sirv_read>
        </resources>
        <helpers>
            <sirv>
                <class>MagicToolbox_Sirv_Helper</class>
            </sirv>
            <catalog>
                <rewrite>
                    <image>MagicToolbox_Sirv_Helper_Image</image>
                </rewrite>
            </catalog>
        </helpers>
        <blocks>
            <sirv>
                <class>MagicToolbox_Sirv_Block</class>
            </sirv>
        </blocks>
    </global>
    <crontab>
        <jobs>
            <sirv>
                <!-- | Minute | Hour   | Day of Month | Month             | Day of Week      | -->
                <!-- | (0-59) | (0-23) | (1-31)       | (1-12 or Jan-Dec) | (0-6 or Sun-Sat) | -->
                <schedule><cron_expr>0 0 1 * *</cron_expr></schedule>
                <run>
                    <model>sirv/observer::validateCache</model>
                </run>
            </sirv>
        </jobs>
    </crontab>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <sirv before="Mage_Adminhtml">MagicToolbox_Sirv</sirv>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <sirv translate="title">
                                            <title>Sirv</title>
                                            <sort_order>100</sort_order>
                                        </sirv>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <admin_system_config_changed_section_sirv>
                <observers>
                    <sirv>
                        <type>singleton</type>
                        <class>sirv/observer</class>
                        <method>onSirvConfigChange</method>
                    </sirv>
                </observers>
            </admin_system_config_changed_section_sirv>
            <catalog_product_save_before>
                <observers>
                    <sirv_catalog_product_save_before>
                        <type>singleton</type>
                        <class>sirv/observer</class>
                        <method>onCatalogProductSaveBefore</method>
                    </sirv_catalog_product_save_before>
                </observers>
            </catalog_product_save_before>
            <catalog_product_save_after>
                <observers>
                    <sirv_catalog_product_save_after>
                        <type>singleton</type>
                        <class>sirv/observer</class>
                        <method>onCatalogProductSaveAfter</method>
                    </sirv_catalog_product_save_after>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>
    <default>
        <sirv>
            <general>
                <enabled>0</enabled>
                <network>CDN</network>
                <сustom_domain></сustom_domain>
                <sirv_image_processing>1</sirv_image_processing>
                <magento_watermark>0</magento_watermark>
                <image_folder>magento</image_folder>
                <profile></profile>
            </general>
        </sirv>
    </default>
</config>
