
$primary-bg-color: #151515;

$secondary-bg-color:#900304;

$tertiary-bg-color: #1860AC;


$tertiary-text-color: #828282;

$black-color: #000000;

$white-color: #FFFFFF;

$grey-color: #E0E0E0;

$dark-grey: #252525;

$grey-color-6: #F2F2F2;

$grey-color-3: #333333;

$line-color: #BDBDBD;

$pale-grey: #F5F5F5;

$grey-primary: #828282;

$textbox-color: #E5E5E5
