<config>
    <modules>
        <Homebase_Utility>
            <version>0.1.0</version>
        </Homebase_Utility>
    </modules>
    <global>
        <helpers>
            <hutility>
                <class>Homebase_Utility_Helper</class>
            </hutility>
        </helpers>
        <models>
            <hutility>
                <class>Homebase_Utility_Model</class>
            </hutility>
        </models>
    </global>
    <frontend>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <hutility_core_block_abstract_to_html_after>
                        <class>hutility/observer</class>
                        <method>handleCoreBlockAbstractToHtmlAfter</method>
                    </hutility_core_block_abstract_to_html_after>
                    <hutility_meta_core_block_abstract_to_html_after>
                        <class>hutility/meta</class>
                        <method>modifyRobots</method>
                    </hutility_meta_core_block_abstract_to_html_after>
                </observers>
            </core_block_abstract_to_html_after>

        </events>
    </frontend>
    <adminhtml>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <inject_additionaljs_validation_handler>
                        <class>hutility/observer</class>
                        <method>injectAdditionalJsValidation</method>
                    </inject_additionaljs_validation_handler>
                </observers>
            </core_block_abstract_to_html_after>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <inject_js_script_amp_js_handler>
                        <class>hutility/observer</class>
                        <method>injectJs</method>
                    </inject_js_script_amp_js_handler>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
    </adminhtml>
</config>