
$primary-bg-color: #151515;

$secondary-bg-color:#F3691E;

$tertiary-bg-color: #2372AA;


$tertiary-text-color: #828282;

$black-color: #000000;

$white-color: #FFFFFF;

$grey-color: #666666;

$dark-grey: #252525;

$grey-color-6: #F2F2F2;

$grey-color-3: #333333;

$grey-color-4: #444444;

$line-color: #BDBDBD;

$pale-grey: #F5F5F5;

$grey-primary: #828282;

$fitment-grey:#a1a1a1;

$textbox-color: #E5E5E5;

$ribbon-color: #318a54;
