<?xml version="1.0"?>
<config>
  <modules>
    <Growthrocket_Featuredproduct>
      <version>0.1.0</version>
    </Growthrocket_Featuredproduct>
  </modules>
  <frontend>
    <routers>
      <featuredproduct>
        <use>standard</use>
          <args>
            <module>Growthrocket_Featuredproduct</module>
            <frontName>featuredproduct</frontName>
          </args>
      </featuredproduct>
    </routers>
		<layout>
		  <updates>
			<featuredproduct>
			  <file>featuredproduct.xml</file>
			</featuredproduct>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <featuredproduct>
        <class>Growthrocket_Featuredproduct_Helper</class>
      </featuredproduct>
    </helpers>
	<blocks>
	  <featuredproduct>
		<class>Growthrocket_Featuredproduct_Block</class>
	  </featuredproduct>
	</blocks>
  </global>
</config> 