<config>
    <modules>
        <Homebase_Finder>
            <version>0.0.1</version>
        </Homebase_Finder>
    </modules>
    <global>
        <blocks>
            <hfinder>
                <class>Homebase_Finder_Block</class>
            </hfinder>
        </blocks>
        <helpers>
            <hfinder>
                <class>Homebase_Finder_Helper</class>
            </hfinder>
        </helpers>
        <models>
            <hfinder>
                <class>Homebase_Finder_Model</class>
                <resourceModel>hfinder_resource</resourceModel>
            </hfinder>
            <hfinder_resource>
                <class>Homebase_Finder_Model_Resource</class>
                <deprecatedNode>hfinder_mysql4</deprecatedNode>
                <entities>
                    <hfinder_base>
                        <table>hfinder_base</table>
                    </hfinder_base>
                </entities>
            </hfinder_resource>
        </models>
        <resources>
            <hfinder_resource>
                <setup>
                    <module>Homebase_Finder</module>
                </setup>
            </hfinder_resource>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <hfinder before="Mage_Adminhtml">Homebase_Finder_Adminhtml</hfinder>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <hfinder>
                    <file>homebase/hfinder.xml</file>
                </hfinder>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <amfinder>
                <args>
                    <modules>
                        <hfinder before="Amasty_Finder">Homebase_Finder</hfinder>
                    </modules>
                </args>
            </amfinder>
            <hfinder>
                <use>standard</use>
                <args>
                    <module>Homebase_Finder</module>
                    <frontName>hfinder</frontName>
                </args>
            </hfinder>
        </routers>
        <layout>
            <updates>
                <hfinder>
                    <file>hfinder/layout.xml</file>
                </hfinder>
            </updates>
        </layout>
    </frontend>
</config>