<?xml version="1.0"?>
<config>
  <modules>
    <Growthrocket_Shippinghelper>
      <version>0.1.0</version>
    </Growthrocket_Shippinghelper>
  </modules>
  <frontend>
    <routers>
      <shippinghelper>
        <use>standard</use>
          <args>
            <module>Growthrocket_Shippinghelper</module>
            <frontName>shippinghelper</frontName>
          </args>
      </shippinghelper>
    </routers>
		<layout>
		  <updates>
			<shippinghelper>
			  <file>shippinghelper.xml</file>
			</shippinghelper>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <shippinghelper>
        <class>Growthrocket_Shippinghelper_Helper</class>
      </shippinghelper>
    </helpers>
	<blocks>
	  <shippinghelper>
		<class>Growthrocket_Shippinghelper_Block</class>
	  </shippinghelper>
	</blocks>
  </global>
</config> 