<?xml version="1.0"?>
<config>
    <modules>
        <Homebase_Fitment>
            <version>0.1.0</version>
        </Homebase_Fitment>
    </modules>
    <global>
        <helpers>
            <hfitment>
                <class>Homebase_Fitment_Helper</class>
            </hfitment>
        </helpers>
        <blocks>
            <hfitment>
                <class>Homebase_Fitment_Block</class>
            </hfitment>
        </blocks>
        <models>
            <hfitment>
                <class>Homebase_Fitment_Model</class>
                <resourceModel>hfitment_resource</resourceModel>
            </hfitment>
            <hfitment_resource>
                <class>Homebase_Fitment_Model_Resource</class>
                <depercatedNode>hfitment_resource_eav_mysql4</depercatedNode>
                <entities>
                    <fitment_route>
                        <table>fitment_route</table>
                    </fitment_route>
                    <fitment_query>
                        <table>fitment_query</table>
                    </fitment_query>
                    <fitment_label_ref>
                        <table>fitment_label_reference</table>
                    </fitment_label_ref>
                </entities>
            </hfitment_resource>
        </models>
        <index>
            <indexer>
                <fitment_route_indexer>
                    <model>hfitment/index_route</model>
                </fitment_route_indexer>
                <fitment_query_indexer>
                    <model>hfitment/index_query</model>
                </fitment_query_indexer>
            </indexer>
        </index>
        <resources>
            <hfitment_setup>
                <setup>
                    <module>Homebase_Fitment</module>
                </setup>
            </hfitment_setup>
        </resources>
        <events>
            <catalog_entity_attribute_save_before>
                <observers>
                    <hfitment_catalog_entity_attribute_save_before_handler>
                        <type>model</type>
                        <class>hfitment/observer</class>
                        <method>assignBackendModelToAttribute</method>
                    </hfitment_catalog_entity_attribute_save_before_handler>
                </observers>
            </catalog_entity_attribute_save_before>

        </events>
    </global>
    <adminhtml>
        <events>
            <adminhtml_catalog_product_edit_prepare_form>
                <observers>
                    <hfitment_adminhtml_catalog_product_edit_prepare_form_handler>
                        <class>hfitment/observer</class>
                        <method>setMulticheckboxRendererInForm</method>
                    </hfitment_adminhtml_catalog_product_edit_prepare_form_handler>
                </observers>
            </adminhtml_catalog_product_edit_prepare_form>
            <adminhtml_catalog_product_edit_element_types>
                <observers>
                    <hfitment_adminhtml_catalog_product_edit_element_types_handler>
                        <class>hfitment/observer</class>
                        <method>updateElementTypes</method>
                    </hfitment_adminhtml_catalog_product_edit_element_types_handler>
                </observers>
            </adminhtml_catalog_product_edit_element_types>
            <adminhtml_product_attribute_types>
                <observers>
                    <hfitment_add_attribute_type_handler>
                        <type>model</type>
                        <class>hfitment/observer</class>
                        <method>addMultiCheckboxAttributeType</method>
                    </hfitment_add_attribute_type_handler>
                </observers>
            </adminhtml_product_attribute_types>
            <catalog_product_prepare_save>
                <observers>
                    <hfitment_catalog_product_save_after_handler>
                        <class>hfitment/observer</class>
                        <method>saveProductAfter</method>
                    </hfitment_catalog_product_save_after_handler>
                </observers>
            </catalog_product_prepare_save>
            <catalog_product_save_after>
                <observers>
                    <hfitment_catalog_product_model_save_after_handler>
                        <class>hfitment/observer</class>
                        <method>saveProductModelAfter</method>
                    </hfitment_catalog_product_model_save_after_handler>
                </observers>
            </catalog_product_save_after>
            <!--<catalog_product_load_after>-->
                <!--<observers>-->
                    <!--<hfitment_catalog_product_load_after_handler>-->
                        <!--<class>hfitment/observer</class>-->
                        <!--<method>doLoadAfter</method>-->
                    <!--</hfitment_catalog_product_load_after_handler>-->
                <!--</observers>-->
            <!--</catalog_product_load_after>-->
        </events>
        <layout>
            <updates>
                <hfitment>
                    <file>homebase/hfitment.xml</file>
                </hfitment>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <hfitment translate="title" module="hfitment">
                                            <title>Fitment - Extensions</title>
                                        </hfitment>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <general>
            <validator_data>
                <input_types>
                    <multicheck>multicheck</multicheck>
                </input_types>
            </validator_data>
        </general>
    </default>
</config>